{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">

        <form action="?x=1" method="get">
            <label>Enter Character Name: <input type="text" placeholder="Charackter-Name" name="charname"> </label>
            <label>Enter Realm Name: <input type="text" placeholder="Realm-Name" name="realmname"> </label>
            <input type="submit" value="Submit">
        </form>
        </form>
        {% if errormsg is defined %}
            <p id="errormsg">{{ errormsg }}</p>
        {% endif %}

        {% if profile_name is defined %}
            <label>Name: <p>{{ profile_name }}</p></label><br>
        {% endif %}

        {% if profile_realm is defined %}
            <label>Realm: <p>{{ profile_realm }}</p></label><br>
        {% endif %}

        {% if profile_ilvl is defined %}
            <label>Bag iLVL: <p>{{ profile_ilvl}}</p></label><br>
        {% endif %}

        {% if profile_thumbnail is defined %}
        <img src="{{ profile_thumbnail }}">
        {% endif %}
    </div>
{% endblock body %}
